html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle{
    border-radius: 0;
    margin-bottom: -1px;
}

.bottom{
    margin-bottom: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.input{
    margin-top: 5px;
    color: white;
}

.full-btn{
    width: 100%;
}